<p style="color: green"><%= notice %></p>

<h1>Types</h1>

<% if user_signed_in? %>
  <%= link_to "New type", new_type_path, class: "btn btn-success"%>
<% end %>

<table class="table" id="types" style="width: 300px;">
  <thead>
    <tr class="text-white">
      <th scope="col">Name</th>
      <th scope="col">Generation</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr class="text-white">
        <td><%= link_to type.name, type %></td>
        <td><%= type.generation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
